version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "monthly"
      day: "monday"
    commit-message:
      prefix: "fix(deps):"
    target-branch: "develop"
    rebase-strategy: auto
    labels:
      - "dependencies"

