name: Enable auto-merge for Dependabot PRs

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - labeled
      - ready_for_review
      - edited

permissions:
  contents: write
  pull-requests: write

jobs:
  enable-auto-merge:
    runs-on: ubuntu-latest
    steps:
      - name: Enable auto-merge
        if: github.actor == 'dependabot[bot]'
        uses: peter-evans/enable-pull-request-automerge@v3
        with:
          merge-method: squash
          pull-request-number: ${{ github.event.pull_request.number }}
